@import "site.css";

.grid-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "area1 area2"
        "area3 area3"
        "area4 area5";
}

.grid-me {
    grid-area: area3;
    background-color: lime;
}

.grid-me>figure {
    float: left;
    font-size: x-small;
}

.grid-me img
{
    width: 205px;
    height: auto;
}

.grid-me>div
{
    width: 55%;
}

.grid-me p {
    text-align: justify;
    /* text-justify: inter-word; */
}

.grid-list {
    grid-area: area4;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
}

.grid-list>div{
    background-color: blue;
}

.grid-books {
    grid-area: area5;
    display: grid;
    align-content: flex-end;
    background-color: aqua;
}

.grid-books figure {
    font-size: x-small;
    text-align: center;
}

.grid-books img {
    width: 285px;
    height: auto;
}

figure{
    margin: 0; /*15px;*/
}

ul
{
    list-style-type: square;
}