@import "site.css";

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "area1 area2"
        "area3 area3"
        "area4 area4";
    background-color: var(--secondary-color);
    background-color: teal;
}

.grid-main {
    grid-area: area3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
}

.grid-footer {
    grid-area: area4;
    background-color: aqua;
}

footer {
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-size: small;
    color: var(--icon-color);
    background-color: bisque;
}

footer>span {
    display: inline-block;
}