:root {
    --primary-color: steelblue;
    --secondary-color: white;
    /* Next line is advised by Google to use with "md-dark" Material Icon Font and light/white background and is also used now in svg icon files */
    --icon-color: rgba(0, 0, 0, 0.54);
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    /* Next line is used to respect some eventually existing vertical scrollbar */
    max-width: 100%;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "area1 area2"
        "area3 area3";
    background-color: var(--secondary-color);
    /* background-color: yellow; */
}

div.grid-item-nav1 {
    grid-area: area1;
    text-align: left;
    padding: 5px 0px 5px 5px;
    /* background-color: red; */
}

div.grid-item-nav2 {
    grid-area: area2;
    text-align: right;
    padding: 5px 10px 5px 0px;
    /* background-color: green; */
}

div.grid-item-main {
    grid-area: area3;
    /* background-color: blue; */
}

nav {
    /* Next line is used as a workaround for the "white-spaces in inline-elements" problem */
    /* See https://stackoverflow.com/questions/5078239/how-do-i-remove-the-space-between-inline-inline-block-elements */
    font-size: 0;
}

nav>a,
nav>span.delimiter {
    /* Next line is used as a workaround for the "white-spaces in inline-elements" problem */
    /* For the visibility of this element we need some font-size since the parent element has a font-size of 0 */
    font-size: small;
}

nav>img,
nav>a,
nav>span.delimiter {
    vertical-align: middle;
}

nav>img {
    margin-right: 5px;
    /* background-color: pink; */
}

nav>a {
    text-decoration: none;
    color: var(--primary-color);
    /* background-color: purple; */
}

nav>span.delimiter {
    margin-left: 5px;
    margin-right: 5px;
    border-left: 2px solid var(--icon-color);
    /* background-color: orange; */
}